WeiXin.Lib.Core/Service References/WeiXinService/WeiXinService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WeiXin.Lib.WCF/WeiXinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeiXin.Lib.WCF.Model" />
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeiXin.Lib.WCF.Model" minOccurs="0" name="GetAccessTokenResult" nillable="true" type="q1:AccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccessToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeiXin.Lib.WCF.Model" minOccurs="0" name="CreateAccessTokenResult" nillable="true" type="q2:AccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>