WeiXin.Lib.Core/Service References/WeiXinService/WeiXinService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeiXin.Lib.WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeiXin.Lib.WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccessToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Expires_In" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessToken" nillable="true" type="tns:AccessToken" />
</xs:schema>